# LivingEntity
public net.minecraft.world.entity.LivingEntity m_7285_(Lnet/minecraft/world/effect/MobEffectInstance;)V # onEffectRemoved
public net.minecraft.world.entity.LivingEntity f_20888_ # lastHurtByPlayer
public net.minecraft.world.entity.LivingEntity f_20889_ # lastHurtByPlayerTime

# CreeperEntity
public net.minecraft.world.entity.monster.Creeper f_32270_ # swell

# ServerPlayer
public net.minecraft.server.level.ServerPlayer m_7285_(Lnet/minecraft/world/effect/MobEffectInstance;)V # onEffectRemoved

# AbstractContainerScreen
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97799_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/inventory/Slot;)V # renderSlot

# ContainerScreen
#public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z # isSlotSelected
#public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195360_a(DD)Lnet/minecraft/inventory/container/Slot; # getSelectedSlot
#public net.minecraft.client.gui.screen.inventory.ContainerScreen func_238746_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/inventory/container/Slot;)V # moveItems

#RecipeManager
#public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; # getRecipes
